 .overall{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    border: 0;
 }
 .Header{
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-between;
 }

 .links{
    display: flex;
    justify-content: space-between;
    gap: 2em;
 }

 .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
 }

 .section-1{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    gap: 20em;
 }

 .left{
    display: flex;
    flex-direction: column;
    width: 500px;
 }

 .right{
    display: flex;
    align-items: center;
    margin-right: 50px;
 }

 button{
    background-color: #3882F6;
    color: white;
 }